name: CloudNova CD

on:
  workflow_run:
    workflows: ["CloudNova CI"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Download Docker image artifact
        uses: actions/download-artifact@v4
        with:
          name: cloudnova-docker-image
          run-id: ${{ github.event.workflow_run.id }}

      - name: Load Docker image
        run: docker load -i cloudnova-image.tar

      - name: Deploy (single target)
        run: |
          docker stop cloudnova || true
          docker rm cloudnova || true
          docker run -d \
            --name cloudnova \
            -p 8080:80 \
            cloudnova-site:${{ github.event.workflow_run.head_sha }}

      - name: Smoke test
        run: |
          sleep 2
          curl -fsS http://localhost:8080
