name: Cloudnova CD

on:
  workflow_run:
    workflows: ["CloudNova CI"]
    types: [completed]

env:
  IMAGE_TAG: cloudnova-site:${{ github.event.workflow_run.head_sha }}
  STAGING_NAME: cloudnova-staging
  PROD_NAME: cloudnova-prod

jobs:
  deploy_staging:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Download Docker image artifact from CI run
        uses: actions/download-artifact@v4
        with:
          name: cloudnova-docker-image
          path: .
          run-id: ${{ github.event.workflow_run.id }}
          repository: ${{ github.repository }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Load Docker image
        run: docker load -i cloudnova-image.tar

      - name: Deploy STAGING (8081)
        run: |
          docker rm -f ${STAGING_NAME} || true
          docker run -d             --name ${STAGING_NAME}             -p 8081:80             ${IMAGE_TAG}

  check_staging:
    needs: deploy_staging
    runs-on: self-hosted

    steps:
      - name: Check container running (STAGING)
        run: docker ps --filter "name=${STAGING_NAME}" --filter "status=running" | grep ${STAGING_NAME}

      - name: HTTP 200 check (STAGING)
        run: |
          STATUS=$(curl -o /dev/null -s -w "%{http_code}" http://localhost:8081)
          test "$STATUS" -eq 200

      - name: HTML title check (STAGING)
        run: curl -fsS http://localhost:8081 | grep -qi "<title>.*CloudNova.*</title>"

  deploy_prod:
    needs: check_staging
    runs-on: self-hosted

    steps:
      - name: Deploy PROD (8080)
        run: |
          docker rm -f ${PROD_NAME} || true
          docker run -d             --name ${PROD_NAME}             -p 8080:80             ${IMAGE_TAG}

  check_prod:
    needs: deploy_prod
    runs-on: self-hosted

    steps:
      - name: Check container running (PROD)
        run: docker ps --filter "name=${PROD_NAME}" --filter "status=running" | grep ${PROD_NAME}

      - name: HTTP 200 check (PROD)
        run: |
          STATUS=$(curl -o /dev/null -s -w "%{http_code}" http://localhost:8080)
          test "$STATUS" -eq 200

      - name: HTML title check (PROD)
        run: curl -fsS http://localhost:8080 | grep -qi "<title>.*CloudNova.*</title>"

  cleanup_staging:
    needs: check_prod
    runs-on: self-hosted

    steps:
      - name: Cleanup STAGING
        run: docker rm -f ${STAGING_NAME} || true
